<!DOCTYPE html>
<html>
<head>
  <title>AWS OpsWorks Sample App</title>
  </head>
<body>
  <header class="navbar navbar-fixed-top">
    <nav class="navbar-inner">
      <div class="container">
        <p class="brand">AWS OpsWorks - Sample App</p>
      </div>
    </nav>
  </header>
  <div id="main" role="main">
    <div class="container">
     <div class="hero-unit">
      <div class="robot">
        <h1>Congratulations!</h1>
        <h2>
         You made it here!<br/>
          AWS Works.
        </h2>
        <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://aws.amazon.com/opsworks/" data-text="Look mum. I just successfully deployed with AWS OpsWorks!" data-size="large" data-related="AWSOpsWorks" data-count="none">Tweet</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        <a href="https://twitter.com/AWSOpsWorks" class="twitter-follow-button" data-show-count="false" data-size="large" data-dnt="true">Follow @AWSOpsWorks</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        <p class="logo">
          <span class="credits">Made in Berlin</span>
        </p>
      </div>
     </div>
